<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:util="http://icpc.baylor.edu/facelets/util"
	  xmlns:rich="http://richfaces.org/rich"
	  xmlns:h="http://java.sun.com/jsf/html">
<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		This component renders input timestamp and layout in SeamForm
	</p>
</div>
<ui:composition template="/WEB-INF/tags/form/viewEditSwitch.xhtml">

	<ui:define name="edit">
		<s:decorate id="#{id}Decoration" template="/layout/formElement/edit.xhtml">
			<ui:define name="label">#{label}</ui:define>

			<rich:calendar value="#{value}"
						   showApplyButton="false"
						   popup="true"
						   enableManualInput="true"
						   datePattern="#{empty datePattern? 'MM/dd/yyyy HH:mm': datePattern}"
						   required="#{empty required ? 'false' : required}"
						   id="#{id}"
						   title="#{empty title ? label : title}"
						   oncollapse="validateInputDate(this,#{empty required ? 'false' : required},#{empty future ? 'false' : future},#{empty past ? 'false' : past},'#{text['client.validator.date']}');"/>
			<br/>
			<s:div id="#{id}timeSliders" rendered="#{empty timePicker?'true':timePicker}">
				<h:outputText value="Hour:" style="float:left;clear:left;width:4em"/>
				<rich:inputNumberSlider
						id="#{id}sliderHour"
						value="12" width="150" maxValue="23"
						step="1" showToolTip="false"
						rendered="#{empty timePicker?'true':timePicker}"
						onchange="timeSlide(this.value,this,'#{id}InputDate','hour')"/>

				<h:outputText value="Minute:" style="float:left;clear:left;width:4em"/>
				<rich:inputNumberSlider
						id="#{id}sliderMinute"
						value="0" width="150" maxValue="59"
						step="1" showToolTip="false"
						onchange="timeSlide(this.value,this,'#{id}InputDate','minute')"/>
				<!--
				onchange="alert(this.input.name.substr(0,this.input.name.length-6));document.getElementById(this.input.name.substr(0,this.input.name.length-6)+'InputDate').value=this.value"/>
				 -->
			</s:div>
		</s:decorate>
	</ui:define>
	<ui:define name="view">
		<util:outputText value="#{value}" layout="#{layout}" id="#{id}View">
			<s:convertDateTime pattern="#{empty datePattern?'MM/dd/yyyy HH:mm': datePattern}"/>
		</util:outputText>
	</ui:define>
</ui:composition>
</body>
</html>


