<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:rich="http://richfaces.org/rich"
	  xmlns:util="http://icpc.baylor.edu/facelets/util"
		>
<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		This component renders input and layout in SeamForm
	</p>
</div>
<ui:composition template="/WEB-INF/tags/form/viewEditSwitch.xhtml">

	<ui:define name="edit">
		<s:decorate id="#{id}Decoration" template="/layout/formElement/edit.xhtml">
			<ui:define name="label">#{label}</ui:define>

			<s:div id="#{id}ColorPreviewClient"
				   style="background-color: #{value.hexString}"
				   styleClass="colorBoxPreview">
				&#160;
			</s:div>

			<util:switch openLinkLabel="modify"
						 openLinkClass="pickColor"
						 closeLinkClass="pickColorClose"
						 closeLinkLabel="hide">
				<ui:define name="hiddenContent">
					<s:div>
						R:
						<rich:inputNumberSlider
								onchange="colorPreview(this.value, this, '#{id}ColorPreviewClient');"
								id="red#{id}"
								value="#{value.redLong}"
								step="1"
								styleClass="colorPickRed"
								minValue="0"
								maxValue="255"
								required="true">
							<f:convertNumber type="number"/>
						</rich:inputNumberSlider>

						G:
						<rich:inputNumberSlider
								onchange="colorPreview(this.value, this, '#{id}ColorPreviewClient');"
								id="green#{id}"
								value="#{value.greenLong}"
								step="1"
								styleClass="colorPickGreen"
								minValue="0"
								maxValue="255"
								required="true">
							<f:convertNumber type="number"/>
						</rich:inputNumberSlider>

						B:
						<rich:inputNumberSlider
								onchange="colorPreview(this.value, this, '#{id}ColorPreviewClient');"
								id="blue#{id}"
								value="#{value.blueLong}"
								step="1"
								styleClass="colorPickBlue"
								minValue="0"
								maxValue="255"
								required="true">
							<f:convertNumber type="number"/>
						</rich:inputNumberSlider>
					</s:div>
				</ui:define>
			</util:switch>


		</s:decorate>
	</ui:define>
	<ui:define name="view">
		<util:outputColor value="#{value}" layout="#{layout}" id="#{id}View"/>
	</ui:define>
</ui:composition>
</body>
</html>
