<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:util="http://icpc.baylor.edu/facelets/util"
	  xmlns:h="http://java.sun.com/jsf/html">
<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		This component renders input and layout in SeamForm
	</p>
</div>
<ui:composition template="/WEB-INF/tags/form/viewEditSwitch.xhtml">

	<ui:define name="edit">

		<s:decorate id="#{id}Decoration" template="/layout/formElement/edit.xhtml">
			<ui:define name="label">#{label}</ui:define>

			<h:inputTextarea
					onblur="validateInputText(this,#{empty required ? 'false' : required},#{empty minlength ? '0' : minlength}, #{empty maxlength ? '255' : maxlength}, #{empty email ? 'false' : email}, #{empty pattern ? '\'\'' : pattern}, '#{text['client.validator.text']}','#{empty pattern ? '' : text[util:replaceSpaceJSPattern(pattern)]}');"
					rendered="#{empty rendered ? 'true' : rendered}"
					required="#{empty required ? 'false' : required}"
					readonly="#{empty readonly ? 'false' : readonly}"
					id="#{id}"
					maxlength="#{empty maxlength ? '255' : maxlength}"
					size="#{empty size ? '20' : size}"
					title="#{empty title ? label : title}"
					cols="#{empty cols ? '25' : cols}"
					rows="#{empty rows ? '4' : rows}"
					value="#{value}">
				<ui:insert/>
				<util:HTMLViewValidator id="#{id}Validator"/>
			</h:inputTextarea>

			<h:outputLink id="#{id}Html" styleClass="popup link" destination="javascript:return false;"
						  rendered="true" title="Preview of #{label}"
						  onclick="displayHTML(this,'Preview of #{label}'); return false;">Show
			</h:outputLink>
		</s:decorate>
	</ui:define>
	<ui:define name="view">
		<s:decorate id="#{id}Output" template="/layout/formElement/display.xhtml">
			<ui:define name="label">#{label}</ui:define>
			<h:inputHidden id="#{id}" value="#{value}"/>
			<h:outputLink id="#{id}Html" styleClass="popup link" destination="javascript:return false;"
						  rendered="#{not empty value}" title="Preview of #{label}"
						  onclick="displayHTML(this,'Preview of #{label}'); return false;">Show
			</h:outputLink>
		</s:decorate>
	</ui:define>
</ui:composition>
</body>
</html>
