<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:h="http://java.sun.com/jsf/html">
<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		This component renders out Color and layout in SeamForm
	</p>
</div>

<ui:component rendered="#{empty rendered ? true : rendered}">
	<s:decorate id="#{id}Output" template="/layout/formElement/display.xhtml">
		<ui:define name="label">#{label}</ui:define>
		<div class="outputColor">
			<div style="background-color: #{value.hexString}" class="colorBox">
				&#160;
			</div>
			<!-- color text
				<span class="colorText" style="background-color:  #{util:backgroundByColor(value.awt)};" >
					<h:outputText value="#{util:colorName(value.awt)}"
					styleClass="color" style="color: #{value.hexString}" />
				</span>
			-->
			<h:outputText value="#{util:colorName(value.awt)}" styleClass="color"/>
		</div>

	</s:decorate>
</ui:component>
</body>
</html>
