<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:util="http://icpc.baylor.edu/facelets/util"
	  xmlns:h="http://java.sun.com/jsf/html">

<!--
Page parameters:

TODO

defaultViewLabel
	The label displayed in the view mode when the value is null.
-->

<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		This component renders select and layout in SeamForm
		here are 3 types {enum, entity, list}

		<!--
			after http://jira.jboss.org/jira/browse/JBSEAM-2346 will work for required

			then erase : noSelectionLabel="#{(empty emptySelectLabel and not required) ? '' : (required ? null : emptySelectLabel)}"
			and use : noSelectionLabel="#{empty emptySelectLabel ? '' : emptySelectLabel}"
		-->
	</p>
</div>
<ui:composition template="/WEB-INF/tags/form/viewEditSwitch.xhtml">
	<ui:define name="edit">
		<s:decorate id="#{id}Decoration" template="/layout/formElement/edit.xhtml">
			<ui:define name="label">#{label}</ui:define>


			<s:fragment rendered="#{type == 'enum'}">
				<h:selectOneMenu id="#{id}enum"
								 style="#{style}"
								 onblur="validateSelect(this,#{empty required ? 'false' : required}, '#{text['client.validator.text']}');"
								 onchange="#{empty onchange ? '' : onchange}"
								 title="#{empty title ? label : title}"
								 required="#{empty required ? false : required}"
								 value="#{value}">
					<!--
						<s:selectItems value="#{collection}" var="item"
							label="#{item.label}"
							noSelectionLabel="#{(empty emptySelectLabel and not required) ? '' : (required ? null : emptySelectLabel)}"
						hideNoSelectionLabel="#{empty required ? 'false' : required}" />
					-->
					<s:selectItems value="#{collection}" var="item"
								   label="#{item.label}"
								   noSelectionLabel="#{(empty emptySelectLabel and not hideEmpty) ? ' ' : (hideEmpty ? null : emptySelectLabel)}"
								   hideNoSelectionLabel="#{empty hideEmpty ? false : hideEmpty}"/>
					<s:convertEnum/>
					<ui:insert name="ajax"/>
				</h:selectOneMenu>
			</s:fragment>

			<s:fragment rendered="#{type == 'entity'}">
				<h:selectOneMenu id="#{id}entity"
								 style="#{style}"
								 onblur="validateSelect(this,#{empty required ? 'false' : required}, '#{text['client.validator.text']}');"
								 title="#{empty title ? label : title}"
								 required="#{empty required ? 'false' : required}"
								 value="#{value}">

					<s:selectItems value="#{collection}" var="item"
								   label="#{empty itemCustomLabel ? item : item[itemCustomLabel]}"
								   noSelectionLabel="#{(empty emptySelectLabel and not hideEmpty)  ? ' ' : (hideEmpty ? null : emptySelectLabel)}"
								   hideNoSelectionLabel="#{empty hideEmpty ? false : hideEmpty}"/>
					<s:convertEntity/>
					<ui:insert name="ajax"/>
				</h:selectOneMenu>
			</s:fragment>

			<s:fragment rendered="#{type == 'list'}">
				<h:selectOneMenu id="#{id}list"
								 style="#{style}"
								 onblur="validateSelect(this,#{empty required ? 'false' : required}, '#{text['client.validator.text']}');"
								 title="#{empty title ? label : title}"
								 required="#{empty required ? 'false' : required}"
								 value="#{value}">
					<s:selectItems value="#{collection}" var="item"
								   label="#{empty itemLabel ? item : itemLabel}"
								   itemValue="#{item}"
								   noSelectionLabel="#{(empty emptySelectLabel and not hideEmpty) ? ' ' : (hideEmpty ? null : emptySelectLabel)}"
								   hideNoSelectionLabel="#{empty hideEmpty ? false : hideEmpty}"/>
					<ui:insert name="ajax"/>

				</h:selectOneMenu>
				<ui:insert name="button"/>
			</s:fragment>

			<s:fragment rendered="#{type == 'filePath'}">
				<h:selectOneMenu id="#{id}filePath"
								 style="#{style}"
								 onblur="validateSelect(this,#{empty required ? 'false' : required}, '#{text['client.validator.text']}');"
								 title="#{empty title ? label : title}"
								 required="#{empty required ? 'false' : required}"
								 value="#{value}">
					<s:selectItems value="#{collection}" var="item"
								   label="#{empty itemLabel ? util:fileName(item) : itemLabel}"
								   itemValue="#{item}"
								   noSelectionLabel="#{(empty emptySelectLabel and not hideEmpty) ? ' ' : (hideEmpty ? null : emptySelectLabel)}"
								   hideNoSelectionLabel="#{empty hideEmpty ? false : hideEmpty}"/>
					<ui:insert name="ajax"/>
				</h:selectOneMenu>
				<ui:insert name="button"/>
			</s:fragment>

			<ui:define name="messages">
				<!--
					<div id="#{id}enumMessage" class="errorElement serverError">
						<h:message for="#{id}enum" styleClass="error errors"/>
					</div>
				-->
				<div id="#{id}entityMessage" class="errorElement serverError">
					<h:message for="#{id}entity" styleClass="error errors"/>
				</div>
				<div id="#{id}listMessage" class="errorElement serverError">
					<h:message for="#{id}list" styleClass="error errors"/>
				</div>
				<div id="#{id}filePathMessage" class="errorElement serverError">
					<h:message for="#{id}filePath" styleClass="error errors"/>
				</div>
			</ui:define>

		</s:decorate>
	</ui:define>
	<ui:define name="view">
		<util:outputText rendered="#{empty value}"
						 value="#{empty defaultViewLabel ? '' : defaultViewLabel}" layout="#{layout}" id="#{id}ViewEmpty"/>
		<ui:fragment rendered="#{not empty value}">
			<util:outputText rendered="#{empty itemCustomLabel}"
							 value="#{type eq 'filePath' ? util:fileName(value) : value.label}" layout="#{layout}" id="#{id}View"/>
			<util:outputText rendered="#{not empty itemCustomLabel}"
							 value="#{value[itemCustomLabel]}" layout="#{layout}" id="#{id}ViewCustom"/>
		</ui:fragment>
	</ui:define>
</ui:composition>
</body>
</html>
