<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:util="http://icpc.baylor.edu/facelets/util"
	  xmlns:h="http://java.sun.com/jsf/html">
<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		This component renders select and layout in SeamForm
		here are 2 types {enum, list}
		<!--
			after http://jira.jboss.org/jira/browse/JBSEAM-2346 will work for required

			then erase : noSelectionLabel="#{(empty emptySelectLabel and not required) ? 'any..' : (required ? null : emptySelectLabel)}"
			and use : noSelectionLabel="#{empty emptySelectLabel ? 'any..' : emptySelectLabel}"
		-->
	</p>
</div>
<ui:composition template="/WEB-INF/tags/form/viewEditSwitch.xhtml">
	<ui:define name="edit">
		<s:decorate id="#{id}Decoration" template="/layout/formElement/edit.xhtml">

			<ui:define name="label">#{label}</ui:define>
			<ui:fragment rendered="#{type == 'enum'}">
				<h:selectOneRadio id="#{id}enum"
								  required="#{empty required ? 'false' : required}"
								  value="#{value}">


					<s:selectItems value="#{collection}" var="item"
								   label="#{item.label}" id="#{id}ItemEnum"

								   hideNoSelectionLabel="true"/>
					<s:convertEnum/>

				</h:selectOneRadio>
			</ui:fragment>
			<ui:fragment rendered="#{type == 'list'}">
				<h:selectOneRadio id="#{id}list"
								  required="#{empty required ? 'false' : required}"
								  value="#{value}">

					<s:selectItems value="#{collection}" var="item"
								   label="#{item}" id="#{id}ItemList"
								   noSelectionLabel="#{(empty emptySelectLabel and not required) ? 'any..' : (required ? null : emptySelectLabel)}"
								   hideNoSelectionLabel="#{empty required ? 'false' : required}"/>

				</h:selectOneRadio>
			</ui:fragment>
		</s:decorate>
	</ui:define>
	<ui:define name="view">
		<util:outputText value="#{value.label}" layout="#{layout}" id="#{id}View"/>
	</ui:define>
</ui:composition>
</body>
</html>
