<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:util="http://icpc.baylor.edu/facelets/util"
		>
<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		Switches 'edit mode' input to 'view mode' output and back
	</p>
</div>
<ui:component rendered="#{empty rendered ? true : rendered}">
	<!--
	<div class="empty PleaseSetEditToTrue"/>
	 -->

	<ui:fragment rendered="#{empty edit ? false : edit}">
		<ui:insert name="edit"/>
	</ui:fragment>

	<ui:fragment rendered="#{empty edit ? true : not edit}">
		<ui:insert name="view">
			<util:outputText value="#{value}"
							 layout="#{layout}" id="#{id}View"/>
		</ui:insert>
	</ui:fragment>
</ui:component>
</body>
</html>
